
<h1 style="color:white">SortByCompletionStatus</h1>
<style>
    body {
        background-color: black;
    }
</style>
<form style="color:white" action="../Home/SortByCompletionStatus" method="post">
    <label style="color:white">Complete:</label>
    <input type="checkbox" name="completionStatus" value="true" />

    <input type="checkbox" name="completionStatus" value="false" hidden />
    <input type="submit" value="Select status" />
</form>
@model List<Todo>
<table style="color:white" class="table">
    <tr class="d-table-row">
        <th>Item</th>
        <th>Due Date</th>
        <th>Completion Status</th>
    </tr>
    @if (Model != null)
    {
        foreach (Todo todo in Model)
        {
            <tr class="d-table-row">
                <th>@todo.Item</th>
                @if (todo.DueDate < DateTime.Now && todo.Completed == false)
                {
                    <td style="color:red">@todo.DueDate.ToShortDateString()</td>
                    <td style="color:red">@todo.Completed</td>

                }

                else
                {
                    <td style="color:white">@todo.DueDate.ToShortDateString()</td>
                    <td style="color:white">@todo.Completed</td>

                }
            </tr>
        }
    }
</table>
<a href="../Home/Index" class="btn btn-primary">Home</a>